aiofiles==23.1.0
aiohttp==3.8.5
asyncio==3.4.3
dnspython==2.3.0
beautifulsoup4==4.12.2
ffmpeg-python==0.2.0
gitpython==3.1.32
hachoir==3.1.2
heroku3==5.2.1
lyricsgenius==3.0.1
motor==3.1.1
pillow==10.0.0
psutil==5.9.5
asBASE==0.5
pytgcalls==2.1.0
pykeyboard==0.1.5
pyrogram==2.0.106
telegraph==1.4.0
python-dotenv==1.0.0
pyyaml==6.0
pyromod==1.5.0
telethon==1.29.0
requests==2.31.0
speedtest-cli==2.1.3
spotipy==2.23.0
numpy==1.25.2
tgcrypto==1.2.2
unidecode==1.3.6
yt-dlp==2024.10.22
gpytranslate==1.2.0
SpeechRecognition==3.10.0
pytz==2023.3
pySmartDL==1.3.4
wget==3.2
schedule==1.2.0
pydub==0.25.1
playsound==1.3.0
youtube-search-python==1.6.6
git+https://github.com/yt-dlp/yt-dlp.git
git+https://github.com/alexmercerind/youtube-search-python.git
git+https://github.com/joetats/youtube_search.git
